<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            padding-top: 5rem;
            background-color: #adc1db;
        }
        .card {
            margin-top: 2rem;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .text-end {
            margin-top: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4">Update Contact</h1>
                    <form th:action="@{/new}" th:object="${newcontact}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Type the name" th:errorClass="is-invalid" required>
                            <div th:if="${#fields.hasErrors('name')}" th:errors ="*{name}" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Type the email" th:errorClass="is-invalid" required>
                            <div th:if="${#fields.hasErrors('email')}" th:errors ="*{email}" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Telephone:</label>
                            <input type="number" id="telephone" name="telephone" th:field="*{telephone}" class="form-control" placeholder="Type the telephone" th:errorClass="is-invalid" required>
                            <div th:if="${#fields.hasErrors('telephone')}" th:errors ="*{telephone}" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="firstDate">First Date:</label>
                            <input type="date" id="firstDate" name="firstDate" th:field="*{firstDate}" class="form-control" th:errorClass="is-invalid" required>
                            <div th:if="${#fields.hasErrors('firstDate')}" th:errors ="*{firstDate}" class="invalid-feedback"></div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary btn-block">Update Contact</button>
                            <a href="/" class="btn btn-danger ms-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-bT5KzTflZ03yHxIepcahqJyP4LGJYb3f3t7zvWRS6dsqzq4KtZgfkGH3LlO8i1T" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-GLhlTQ8iKu16H/J9Q97BznE+huT8KJrxF6b8vFhMz6VrP8egD6NA6ZbvlznZENo1" crossorigin="anonymous"></script>
</body>
</html>
